.project-container {
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    align-items: center;
  }
.project-container p{
  font-weight: bold;
  visibility: hidden;
  width: 95vw;
}

.text-h2.light-mode{
  color: black;
}
.text-h2.dark-mode{
  color: #a04ddf;
}
.skill-container{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 95vw;
  gap: 0;
}

.project-content{
  display: flex;
  flex-direction: column;
  position: inherit;
  margin-top: -10vh;
  width: 32vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  gap: 2%;
}

.horizontal{
  display: flex;
  flex-direction: row;
  gap: 2%;
}



.view-btn{
    display: flex;
    flex-direction: column;
    width: 13vw;
    height: 25vh;
    padding: 10px;
    align-items: left;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
}

.view-btn.light-mode {
    color: #8435C2; 
    background-color:  #d9d9d9;
  }
  
.view-btn.light-mode:hover{
    color: white;
    background-color:  #8435C2;
  }
  .view-btn.dark-mode {
    color: white;
    border: 2px solid #8435C2;
  }

  .view-btn.dark-mode:hover {
    color: #8435C2;
    border: 2px solid #d9d9d9;
  }


 